<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond %{HTTP_HOST} ^litbaskets.io$ [NC]
	RewriteRule ^(.*)$ https://www.litbaskets.io%{REQUEST_URI} [R=301,NC,L,QSA]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(json|ttf|ttc|otf|eot|woff|font.css|css)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>