@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i');

html, body, pre {
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    margin-top: 4rem;
}

.litbaskets-inline-button {
    display: inline-block;
    border: 1px solid lightgray;
    background-color: rgb(231, 231, 231);
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
    margin-right: 2px;
    color: black;
}

#lbl_copy_to_clipboard {
    font-weight: bold;
    color: green;
    padding-left: 1rem;
}

#txt_copy_to_clipboard {
    height: 10rem;
}

.litfam_bibliography_entry {
    font-size: 1.5rem;
    padding-left: 4rem;
    text-indent: -4rem;
}

.litfam_faq_para {
    font-size: 1.5rem;
}

.link_for_nav_litbaskets > a {
    font-size: 100% !important;
}